/* タブ */
.tab-menu {
    border-bottom: 1px solid gray;
    display: flex;
}

.tab-menu__recommended,
.tab-menu__myList {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #5F5F5F;
}

.tab-menu__recommended {
    margin: 50px 80px 10px 200px;
}

.tab-menu__recommended--red {
    color: #ff0000;
}

.tab-menu__myList {
    margin: 50px 0 10px;
}

.tab-menu__myList--red {
    color: #ff0000;
}

/* 商品一覧 */
.item-list {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}